NODE_ENV=production
PORT=3001

# PostgreSQL Local
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=cursos_academy

# JWT
JWT_SECRET=sua-chave-secreta-muito-segura-aqui-2026
